body{
margin:0;
background:black;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
overflow:hidden;
font-family:Arial, sans-serif;
}

canvas{
display:block;
max-width:100vw;
max-height:100vh;
}

#leaderboard{

position:fixed;
right:20px;
top:20px;

background:rgba(0,0,0,0.75);

padding:15px;

border-radius:10px;

color:white;

font-family:Arial;

width:220px;

box-shadow:0 0 10px black;

}

#leaderboard h2{

margin-top:0;
font-size:18px;
text-align:center;

}

.scoreEntry{

display:flex;
justify-content:space-between;

padding:4px;

}

.top3{

color:gold;
font-weight:bold;

}

